@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.product-tables tr{
  border: 1px solid black;
}

.product-tables tr td{
  border-right: 1px solid black;
}

.product-tables th{
  background-color: #00ffff;
}

.product-tables th, .product-tables td{
  text-align: center;
  text-overflow: ellipsis;
  font-size: 13px;
  padding: 12px 16px;
}

.product-tables a{
  text-decoration: underline;
}

.styled-cell{
  /* display: inline;
  min-width: 125px;
  width: 100%; */
  padding: 0 5px;
  max-height: 150px;
  max-width: 150px;
  border: 1px solid black;
  text-align: center;
}
th.styled-cell{
  background-color: black;
  border-bottom: none;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
